body{
	margin: 0px;
	padding: 0px;
	
}
h1, h2, h3{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	
}

ul.products {
	padding: 0px 0px 6px 0px;
	margin: 0;
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}
ul.products li {
	display: inline-block;
	max-width: 200px;
	padding: 1px;
	background-color: rgba(255, 255, 255, 0);
	margin: 8px 0 -13px 0;

	?*border: 1px solid #EAEAEA;  */
	color: #3D3D3D;
}
ul.products1 {
	padding: 0;
	margin: 0;
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}
ul.products1 li {
	display: inline-block;
    max-width: 200px;
    /* padding: 1px; */
    background-color: #FFFFFF;
    margin: 8px 0 7px 0;
}
ul.products li h3 {
	margin: -10px -10px 10px -10px;
	padding: 10px;
	text-align: center;
	background-color: #F5F5F5;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	color: #5A5A5A;
}
ul.products li fieldset {
	border: none;
	padding: 5px 5px 5px 0px;
	margin: 0;
}
ul.products li fieldset label{
	display:block;
	margin-bottom: 4px;
}
ul.products li fieldset label span{
	width: 80px;
	float: left;
}
ul.products li fieldset label select{
	min-width: 100px;
}

.product-thumb{
	text-align:center;
}
.product-desc {

	font-size: 0.8em;
	margin-bottom: 0px;
	height: 40px;
	overflow: hidden;
	margin-top: 0px;
}
.product-desc2 {

	font-size: 0.8em;
	margin-bottom: 0px;

	overflow: hidden;
	margin-top: 0px;
}
.product-desc1 {

	font-size: 0.6em;
	margin-bottom: 0px;

	overflow: hidden;
	margin-top: 0px;
}

ul.shopping-cart{
	position: fixed;
	top: 100px;
	right: 0;
	background-color: #F9F9F9;
	padding: 10px;
	min-width: 250px;
	list-style: none;
	font-size: 0.8em;
	border: 1px solid #F0F0F0;
}
ul.shopping-cart .cart-itm {
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 8px;
}
ul.shopping-cart .cart-itm:last-child{
	border-bottom: none;
	margin-bottom: 0px;
}
ul.shopping-cart .cart-itm .remove-itm{
	float: right;
	font-size: 1.5em;
}
ul.shopping-cart .cart-itm .remove-itm a{
	text-decoration:none;
	color:#000;
}
.cart-total-text a{
	float:right;
}

.cart-view-table-front{
	font-size: 0.7em;
	position: fixed;
	right: 10px;
	max-width: 350px;
	font-family: Arial
}
.cart-view-table-front h3{
	text-align: center;
	padding: 0;
	margin: 0px 0px 6px 0px;
}
.cart-view-table-front, .cart-view-table-back {
	max-width: 700px;
	background-color: rgba(202, 228, 246, 0.09);
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.12);
	border: 1px solid #CAE4F6;
}
.cart-view-table-front table th, .cart-view-table-back table th{
	text-align: left;
}
.cart-view-table-front table thead, .cart-view-table-back table thead{
	background-color: #9CCDFD;
}
.cart-view-table-front table tbody tr.even, .cart-view-table-back table tbody tr.even{
	background-color: #F7F7F7;
}
.cart-view-table-front table tbody tr.odd, .cart-view-table-back table tbody tr.odd{
	background-color: #EDEDED;
}
.cart-view-table-front button, .cart-view-table-front .button, .cart-view-table-back button, .cart-view-table-back .button{
	margin: 0px 1px;
	float: right;
}



<!--------------------------------------------------------------------------------------------------------------------------------->
ul.products2 li {
	display: inline-block;
	max-width: 200px;
	padding: 1px;
	background-color: #FFFFFF;
	margin: 8px 0 -13px 0;

	?*border: 1px solid #EAEAEA;  */
	color: #3D3D3D;
}
ul.products2 {
	padding: 0;
	margin: 0;
	
	margin-left: auto;
	margin-right: auto;
}
ul.products2 li {
	display: inline-block;
    max-width: 200px;
    /* padding: 1px; */
    background-color: #FFFFFF;
    margin: 8px 0 7px 0;
}
ul.products2 li h3 {
	margin: -10px -10px 10px -10px;
	padding: 10px;
	text-align: center;
	background-color: #F5F5F5;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	color: #5A5A5A;
}
ul.products2 li fieldset {
	border: none;
	padding: 5px 5px 5px 0px;
	margin: 0;
}
ul.products2 li fieldset label{
	display:block;
	margin-bottom: 4px;
}
ul.products2 li fieldset label span{
	width: 80px;
	float: left;
}
ul.products2 li fieldset label select{
	min-width: 100px;
}

<!---------------------------------------------------------------------------------------------------------------------->