.navbar-inverse1 {
    background-color: #549E01;
    /* border-color: #080808; */
}
.navbar-fixed-top1 {
    top: 49px;
    border-width: 0 0 1px;
}
nav.navbar.navbar-inverse1.navbar-fixed-top1 {
    position: fixed;
padding-top: 10px;
    right: 0;
height:60px;
    left: 0;
    /* bottom: 0px; */
 z-index: 1;
    /* padding-bottom: 50px; */
}
.navbar-inverse1 .navbar-brand1 {
    color: #ffffff;
}
.navbar-brand1 {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
ul li a:hover {
    color: #FF5D00;
    background: #549E01;
}
    ul li ul.dropdown{
       
    position: absolute;
        top: 72%;
    left: 14px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

    ul li:hover ul.dropdown{
        display: block;	/* Display the dropdown */
    }
    ul li ul.dropdown li a{
        display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    }



<!--------------------------------------------->
ul li ul li a:hover{
        color: #fff;
        background: #939393;
    }
    ul li ul li ul.dropdown1{
       
    position: absolute;
    top: 70%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 27px 55px 0px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

    ul li ul li:hover ul.dropdown1{
        display: block;	/* Display the dropdown */
    }
    ul li ul li ul.dropdown1 li a{
        display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    }
.aa {
    margin-top: 10px;
    font-weight: bold;
    font-size: 13px;
}

.aa a:after {
    content: "";
    border-left: 4px solid transparent;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    display: inline-block;
    position: relative;
    right: -1px;
    -webkit-transition: all 100ms ease-out 0s;
    -moz-transition: all 100ms ease-out 0s;
    -ms-transition: all 100ms ease-out 0s;
    transition: all 100ms ease-out 0s;
}

.aa a:hover:after {
    border-left-color: #ff5d00;
    right: -5px;
}
<!---------------------------------------------------------------------------------->
	.cart-view-table-front, .cart-view-table-back {
    max-width: 700px;
    background-color:  rgba(202, 228, 246, 0.09);
 
    padding: 10px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.12);
    border: 1px solid #CAE4F6;
}
.cart-view-table-front {
        font-size: 0.7em;
    /*position: absolute;
    margin-top: -71px;
    right: -323px;*/
    position: fixed;
    right: 120px;
left: 960px;
    top: 240px;
    z-index: 1;    
max-width: 218px;
    font-family: Arial;
}

.city {
    float: left;
    margin: -1px;
    padding: 3px;
    width: 219px;
     
}
.city1 {
    float: left;
   margin: 0px;
    padding: 5px;
    width: 189px;
height:218px;
     
}



@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}

.btn1 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn1-primary {
    font-size: 1.1em;
    color: #ff5d00;
    background-color: #fff;
    border-color: #ff5d00;
}
.btn1-primary:hover {
    color: #027cd5;
    background-color: #ffffff;
    border-color: #027cd5;
}
.box {
border:1px solid;
color: rgba(2, 124, 213, 0.21);
    
}

.box:hover {
color:#ff5d00;
}

.box1 {

color:#000000;
    
}
.box1:hover {
color:#ff5d00;
}


html {
	height:100%;
}
body {
	/*height:100%;*/
	margin:0px;
position:relative;
}



.bigImg {
    background-color: #3e4141;
}


.ytContainerFluid {
    position: relative;
    margin-top: 31px;
}

.todaysPic {
    width: 100%;
    left: 0;
}
.todaysBgImg {
    height: 283px;
    overflow: hidden;
    cursor: pointer;
}
.ytContainerFixed {
    width: 967px!important;
    margin: 0 auto;
    position: relative;
}
.offer-desc {
    height: 283px;
}
ul.noListStyle {
    margin-left: 0;
    list-style: none;
}
.dealDetails {
    padding: 10px;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 80px;
    right: 0;
    width: 390px;
    text-shadow: 1px 1px 0 #000;
}
ul.noListStyle li {
    display: inline-block;
    vertical-align: top;
}
.todayZindexFix {
    position: relative;
    z-index: 2;
    width: 100%;
}
.hand {
    cursor: pointer;
}
.dealDetails h2 {
    font-size: 22px;
    line-height: 30px;
}
.mt5 {
    margin-top: 5px;
}
.latoBold {
    font-weight: normal;
}
.latoBold {
    font-family: LatoBold,arial;
}
.clearfix {
}
<!---.latoBold {
    font-family: LatoBold;
}--->

.txt18 {
    font-size: 18px;
}
.hide {
    display: none;
}
.flR {
    float: right;
}
@media screen and (-webkit-min-device-pixel-ratio: 0)

.flR {
    float: right;
}
.txt18 {
    font-size: 18px;
}

.hide {
    /* display: none !important; */
}
.flL {
    float: left;
}
@media screen and (-webkit-min-device-pixel-ratio: 0)

.mt5 {
    margin-top: 5px;
}


a.offer-more-btn {
    color: #f5f9fa;
    outline: 1px solid #fff!important;
    border: 0;
    line-height: 24px;
    padding: 0 6px;
    display: block;
    float: right;
    font-size: 13px;
    margin: 12px 0 0 0;
    position: relative;
    overflow: hidden;
    height: 25px;
}
.trainBigImg, .todaysBgImg .bigImg {
    background-size: auto 100%;
}
.flR {
    float: right;
}
.ytContainerMedium.ytContainerFixed {
    width: 1160px!important;
}

a.offer-more-btn::after {
    background: #fff;
    height: 0;
    left: 50%;
    opacity: 0;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    width: 100%;
    content: "";
    position: absolute;
    transition: all .3s ease 0s;
    z-index: -1;
}
.sprite {
    background: url("../slide/abhi.png") no-repeat scroll 0 0 transparent;
}
.prevToday {
    background-position: -205px -212px;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 41px;
    top: 190px;
    cursor: pointer;
}


.nextToday {
    background-position: -255px -211px;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 41px;
    top: 190px;
    cursor: pointer;
}
.relative {
    position: relative;
}
.picCarousal {
    position: absolute;
    right: 0;
    top: -30px;
    z-index: 3;
    overflow: hidden;
}
.pikTxt {
    font: bold 22px/22px arial;
    color: #333;
    position: absolute;
    top: 12px;
    left: 0;
    display: none;
}
.handNone {
    cursor: default!important;
}

.deals {
    max-width: 410px;
    overflow: hidden;
}
ul.dealTiles {
    overflow: hidden;
}
ul.dealTiles li.active {
    opacity: 1;
    filter: alpha(opacity= 100);
}
ul.dealTiles li {
    float: left;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    margin: 0 3px;
    opacity: .6;
    filter: alpha(opacity=60);
}
ul.clearfix li {
    list-style: none;
    list-style-type: none;
}
.tabholder .active .activeTile {
    display: block!important;
}
ul.dealTiles li * {
    display: none;
}
.nextToday:hover {
    background-position: -255px -261px;
}
.prevToday:hover {
    background-position: -205px -262px;
}
a.offer-more-btn:hover {
    text-decoration: none;
    color: #222;
    text-shadow: none;
    line-height: 25px;
}



.title {
    border: 1px solid #333;
    text-shadow: rgba(0,0,0,0.74902) 0 -1px 1px;
    background: #464646;
    background: -webkit-gradient(linear,left top,left bottom,from(#464646),to(#424242));
    background: -moz-linear-gradient(top,#464646,#424242);
    background: linear-gradient(to bottom,#464646,#424242);
    background-image: -ms-linear-gradient(top,#464646,#424242);
    height: 38px;
    color: #fff;
    line-height: 38px;
    font-size: 16px;
    font-weight: normal;
}
.fk-uppercase {
    text-transform: uppercase;
}
.fk-font-16 {
    font-size: 16px;
}
.fk-float-left, .fllt {
    float: left;
}
.lmargin10 {
    margin-left: 10px;
}


.imgWrap {
  position: relative;
  
}

.imgDescription {
  position: absolute;
font-weight: 700;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom,#624A4A 0,rgba(255, 93, 0, 0.18) 100%);
  color: #027CD5;


  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}
.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

#account-nav {
    padding: 9px 0px 0px 0px;
}

#account-nav a {
    border: 1px solid #8799a9;
    border-radius: 3px;
    color: #47667e;
    font-size: 13px;
    font-weight: normal;
    margin-right: 4px;
    padding: 6px 12px;
}
#account-nav a#basket {
    padding-right: 10px;
}

#account-nav .basket-icon {
    background-image: url("../images/sv-sprite.png");
    background-position: -5px -223px;
    margin-left: 2px;
}
.go-icon {
    background: url("../images/sv-sprite.png") 0 0 no-repeat;
    background-position: 0px -254px;
    padding: 1px 10px;
    margin-left: 5px;
}
.basket-icon {
    background: url("../images/sv-sprite.png") 0 0 no-repeat;
    background-position: -5px -224px;
    padding: 1px 10px;
    margin-left: 5px;
}
.locale-com #logo {
    background-image: url("/images/logo.png");
}
#logo {
    background-repeat: no-repeat;
background-image: url("../images/logo.png");
    display: block;
    height: 50px;
    margin: 2px 0 0 12px;
    width: 169px;
}
#logo {
    
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.navbar-formsearch {
    width: auto;
    
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-formsearch1 {
    width: auto;
    
    padding-top: 6px;
    padding-bottom: 0;
    margin-right: 78px;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#nav-mobile-search-form{
    background: url("../images/search.png") no-repeat 13px 9px #40505e;
    padding-right: 30px;
    border: 1px solid #40505e;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 35px;
    margin: -6px;
    position: relative;
    vertical-align: middle;
}

#nav-mobile-login-form{
    background-color:#40505e;
    padding-right: 15px;
    border: 1px solid #40505e;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 35px;
    margin: -6px;
    position: relative;
    vertical-align: middle;
}

#nav-mobile-login-form1 {
    display: block;
    padding: 6px 12px;
    line-height: 1.42857;
    color: #555;
    background-color: white;
    background-image: none;
    border-radius: 4px 0 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-radius: 4px!important;
    border: 1px solid #c5c2c2!important;
    display: inline!important;
    font-size: 13px!important;
    height: 35px!important;
    padding-left: 10px!important;
    vertical-align: middle;
    width: 185px!important;
}


#nav-mobile-search-form1 {
    display: block;
    padding: 6px 12px;
    line-height: 1.42857;
    color: #555;
    background-color: white;
    background-image: none;
    border-radius: 4px 0 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-bottom-left-radius: 4px!important;
    border-top-left-radius: 4px!important;
    border: 1px solid #40505e!important;
    display: inline!important;
    font-size: 13px!important;
    height: 35px!important;
    padding-left: 10px!important;
    vertical-align: middle;
    width: 185px!important;
}
.container1 {
   padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4px;
    margin-top: 101px;
margin-bottom: 21px;

    
}
.container .jumbotron1, .container-fluid .jumbotron1 {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 0px;
}
ul.products2 {
    padding: 0;
    margin: 0 0 0 0;
    max-width: 853px;
    margin-left: 17px;
    margin-right: auto;
}

ul.products2 li {
    display: inline-block;
    max-width: 155px;
    /* padding: 1px; */
    background-color: #FFFFFF;
    margin: 8px 0 7px 0;
}
.product-desc3 {
    font-size: 0.8em;
    margin-bottom: 3px;
    height: 33px;
    overflow: hidden;
    margin-top: 0px;
}
.thumbnail3 img {
    width: 124px;
    height: 140px;
}
.ul.products3 {
    padding: 0;
    margin: 0 0 0 0;
    max-width: 853px;
    margin-left: 42px;
    margin-right: auto;
}
ul.products3 li {
    display: inline-block;
    max-width: 130px;
    /* padding: 1px; */
    background-color: #FFFFFF;
    margin: 0 7px 0 6px;
}


.navbar-toggle1:focus{outline:0}.navbar-toggle1 .icon-bar{display:block;width:22px;height:2px;border-radius:1px;background-color:white;}.navbar-toggle1 .icon-bar+.icon-bar{margin-top:4px}@media (min-width:768px){.navbar-toggle1{display:none}}.navbar-nav{margin:0px 0px}