.ytContainerFluid {
    position: relative;
}

.todaysPic {
    width: 100%;
    left: 0;
}

section {
    display: block;
}

.todaysBgImg {
    height: 283px;
    overflow: hidden;
    cursor: pointer;
}
.todaysBgImg .bigImg {
    background-size: auto 100%;
}
.bigImg {
    background-color: #3e4141;
}
.prevToday {
    background-position: -205px -212px;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 41px;
    top: 190px;
    cursor: pointer;
}
.sprite {
    background: url("./slide/abhi.png") no-repeat scroll 0 0 transparent;
}
.nextToday {
    background-position: -255px -211px;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 41px;
    top: 190px;
    cursor: pointer;
}.ytContainerMedium.ytContainerFixed {
    width: 1160px!important;
}

.ytContainerFixed {
    width: 967px!important;
    margin: 0 auto;
    position: relative;
}

.offer-desc {
    height: 283px;
}

ul.noListStyle {
    margin-left: 0;
    list-style: none;
}
.dealDetails {
    padding: 10px;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 80px;
    right: 0;
    width: 390px;
    text-shadow: 1px 1px 0 #000;
}

ul.noListStyle li {
    display: inline-block;
    vertical-align: top;
}
.todayZindexFix {
    position: relative;
    z-index: 2;
    width: 100%;
}
.hand {
    cursor: pointer;
}

.dealDetails h2 {
    font-size: 22px;
    line-height: 30px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0)
.latoBold {
    font-weight: normal;
}
.latoBold {
    font-family: LatoBold,arial;
}
.latoBold {
    font-family: LatoBold;
}

.txt18 {
    font-size: 18px;
}

.hide {
    display: none;
}
.flR {
    float: right;
}

.hide {
    display: none;
}
.flL {
    float: left;
}
@media screen and (-webkit-min-device-pixel-ratio: 0)
.latoBold {
    font-weight: normal;
}
.latoBold {
    font-family: LatoBold,arial;
}
.txt16 {
    font-size: 16px;
}
.mt5 {
    margin-top: 5px;
}
.latoBold {
    font-family: LatoBold;
}

a.offer-more-btn {
    color: #f5f9fa;
    outline: 1px solid #fff!important;
    border: 0;
    line-height: 24px;
    padding: 0 6px;
    display: block;
    float: right;
    font-size: 13px;
    margin: 12px 0 0 0;
    position: relative;
    overflow: hidden;
    height: 25px;
}

