



.bigImg {
    background-color: #3e4141;
}


.ytContainerFluid {
    position: relative;
    margin-top: 31px;
}

.todaysPic {
    width: 100%;
    left: 0;
}
.todaysBgImg {
    height: 283px;
    overflow: hidden;
    cursor: pointer;
}
.ytContainerFixed {
    width: 967px!important;
    margin: 0 auto;
    position: relative;
}
.offer-desc {
    height: 283px;
}
ul.noListStyle {
    margin-left: 0;
    list-style: none;
}
.dealDetails {
    padding: 10px;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 80px;
    right: 0;
    width: 390px;
    text-shadow: 1px 1px 0 #000;
}
ul.noListStyle li {
    display: inline-block;
    vertical-align: top;
}
.todayZindexFix {
    position: relative;
    z-index: 2;
    width: 100%;
}
.hand {
    cursor: pointer;
}
.dealDetails h2 {
    font-size: 22px;
    line-height: 30px;
}
.mt5 {
    margin-top: 5px;
}
.latoBold {
    font-weight: normal;
}
.latoBold {
    font-family: LatoBold,arial;
}
.clearfix {
}
<!---.latoBold {
    font-family: LatoBold;
}--->

.txt18 {
    font-size: 18px;
}
.hide {
    display: none;
}
.flR {
    float: right;
}
@media screen and (-webkit-min-device-pixel-ratio: 0)

.flR {
    float: right;
}
.txt18 {
    font-size: 18px;
}

.hide {
    /* display: none !important; */
}
.flL {
    float: left;
}
@media screen and (-webkit-min-device-pixel-ratio: 0)

.mt5 {
    margin-top: 5px;
}


a.offer-more-btn {
    color: #f5f9fa;
    outline: 1px solid #fff!important;
    border: 0;
    line-height: 24px;
    padding: 0 6px;
    display: block;
    float: right;
    font-size: 13px;
    margin: 12px 0 0 0;
    position: relative;
    overflow: hidden;
    height: 25px;
}
.trainBigImg, .todaysBgImg .bigImg {
    background-size: auto 100%;
}
.flR {
    float: right;
}
.ytContainerMedium.ytContainerFixed {
    width: 1160px!important;
}

a.offer-more-btn::after {
    background: #fff;
    height: 0;
    left: 50%;
    opacity: 0;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    width: 100%;
    content: "";
    position: absolute;
    transition: all .3s ease 0s;
    z-index: -1;
}
.sprite {
    background: url("../slide/abhi.png") no-repeat scroll 0 0 transparent;
}
.prevToday {
    background-position: -205px -212px;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 41px;
    top: 190px;
    cursor: pointer;
}


.nextToday {
    background-position: -255px -211px;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 41px;
    top: 190px;
    cursor: pointer;
}
.relative {
    position: relative;
}
.picCarousal {
    position: absolute;
    right: 0;
    top: -30px;
    z-index: 3;
    overflow: hidden;
}
.pikTxt {
    font: bold 22px/22px arial;
    color: #333;
    position: absolute;
    top: 12px;
    left: 0;
    display: none;
}
.handNone {
    cursor: default!important;
}

.deals {
    max-width: 410px;
    overflow: hidden;
}
ul.dealTiles {
    overflow: hidden;
}
ul.dealTiles li.active {
    opacity: 1;
    filter: alpha(opacity= 100);
}
ul.dealTiles li {
    float: left;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    margin: 0 3px;
    opacity: .6;
    filter: alpha(opacity=60);
}
ul.clearfix li {
    list-style: none;
    list-style-type: none;
}
.tabholder .active .activeTile {
    display: block!important;
}
ul.dealTiles li * {
    display: none;
}
.nextToday:hover {
    background-position: -255px -261px;
}
.prevToday:hover {
    background-position: -205px -262px;
}
a.offer-more-btn:hover {
    text-decoration: none;
    color: #222;
    text-shadow: none;
    line-height: 25px;
}