.ideabook {
 color: white; 
font-family: 'Droid Serif', serif;  
 font-size:2em; 
text-decoration:none;
position: absolute;
left: 2%;
top:10px;
    
}

.toolbar{ 
width:100%;
height:50px;
border-style:inset;
border-color:#497599;

position:fixed;
top:0%;
left:0%;
text-align:right;
-moz-box-shadow:    4px 5px 5px 6px #ccc;
  -webkit-box-shadow: 4px 5px 5px 6px #ccc;
  box-shadow:         4px 5px 5px 6px #ccc;
}
.grad {
    
    background: -webkit-linear-gradient(#164266, #497599); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#164266, #497599); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#164266, #497599); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#164266, #497599); /* Standard syntax (must be last) */
}
.login{
font-family: 'Droid Serif', serif; 
font-size:16px;
text-decoration:none;
color:white;
position: absolute;
right: 8%;
top:30px;

}
.tbox
{
border:2px solid #141414;
background:#141414;

width:200px;
border-radius:25px;
-moz-border-radius:25px; 
-moz-box-shadow:    1px 1px 1px #ccc;
-webkit-box-shadow: 1px 1px 1px 1px #ccc;
 box-shadow:         1px 2px 2px 2px #ccc;
}
.myTypingText {
 background-color:#000;
 width:700px;
 height:120px;
 padding:12px;
 color:#FFFFFF;
 font-family:Monotype Corsiva, Helvetica, sans-serif;
 font-size:20px;
 line-height:1.5em;
 }
.red {
 color: red;
 }
 .blue {
 color: blue;
 }
 .yellow {
 color: yellow;
} 
 .green {
 color: green;
 }
.choose_file{
    position:relative;
    display:inline-block;    
    border-radius:8px;
    border:#ebebeb solid 1px;
    width:235px; 
    padding: 4px 6px 4px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin-top: 0px;
    background:white
}
.choose_file input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
}
