.pwdwidgetdiv
{
border:2px solid #b3b3b3;
background:#dddddd;
width:225px;
border-radius:25px;
-moz-border-radius:25px; 
-moz-box-shadow:    1px 1px 1px #ccc;
-webkit-box-shadow: 1px 1px 1px 1px #ccc;
 box-shadow:         1px 2px 2px 2px #ccc;
}

.pwdfield
{
    display:block;
}

.pwdopsdiv
{
	display: block;
	float: left;
	margin-right:6px;	
}
.pwdopsdiv a
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px; 
}

.pwdstrengthbar
{
	float:right;
	background:#cccccc;
	height:4px;
	margin:0;
}

.pwdstrength
{
	float:right; 
	height:20px;
	width:70px;
	margin-top:3px;

}
.pwdstrengthstr
{
    float:right;
	clear:both;
	height:14px;
	margin-top:0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px; 

}