#abe-header {
    background: none repeat scroll 0 0 white;
    padding-top: 2px;
}
#abe-header {
    padding: 5px 0 0;
}
#abe-header, #footer-container {
    font-size: 12px;
}
.top-nav {
    background-color: white;
}
.mobile .wrapper, .mobile #abe-content {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 1124px;
}
.wrapper, #abe-content {
    min-width: 1124px;
    margin: 0 auto;
}
.wrapper, #abe-content {
    width: 1124px;
}
.cf, .clearfix {
    zoom: 1;
}
.cf:before, .cf:after, .clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.locale-com #logo {
    background-image: url("/images/header/abebooks-logo-com.gif");
}
#abe-header a {
    font-weight: bold;
    text-decoration: none;
}
#logo {
    background-repeat: no-repeat;
    display: block;
    height: 36px;
    margin: 13px 0 10px 12px;
    width: 399px;
}
#logo {
    float: left;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
a:link {
    color: #039;
}
a:visited {
    color: #74008c;
}
a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
a:hover{color:#039;text-decoration:underline}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
small, .small {
    font-size: 12px;
}
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

user agent stylesheetsmall {
    font-size: smaller;
}
#account-nav {
    padding-top: 22px;
}
#account-nav {
    margin-right: 0;
}
#account-nav {
    float: right;
}
#account-nav a {
    border: 1px solid #8799a9;
    border-radius: 3px;
    color: #47667e;
    font-size: 13px;
    font-weight: normal;
    margin-right: 4px;
    padding: 6px 12px;
}
#abe-header a {
    font-weight: bold;
    text-decoration: none;
}
a:link {
    color: #039;
}
a:visited {
    color: #74008c;
}
a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

#abe-header .hidden-xs {
    visibility: visible!important;
    display: inline!important;
}
#account-nav a#basket {
    padding-right: 10px;
}

#abe-header .hidden-xs {
    visibility: visible!important;
    display: inline!important;
}
#account-nav .basket-icon {
    background-image: url("/images/sv-sprite.png");
    background-position: -5px -223px;
    margin-left: 2px;
}
.basket-icon {
    background: url("/images/sv-sprite.png") 0 0 no-repeat;
    background-position: -5px -224px;
    padding: 1px 10px;
    margin-left: 5px;
}
#main-navigation {
    border-bottom: none;
}
#main-navigation {
    clear: both;
    background: #549E01;
    border-bottom: 1px solid #fff;
}
#main-navigation .wrapper {
    background-color: #549E01;
}
.mobile .wrapper, .mobile #abe-content {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 1124px;
}
.wrapper, #abe-content {
    min-width: 1124px;
    margin: 0 auto;
}
.wrapper, #abe-content {
    width: 1124px;
}
.cf, .clearfix {
    zoom: 1;
}
article, aside, figure, footer, header, nav, section, details, summary {
    display: block;
}
caption, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
#mobile-menu {
    background: none;
    border: 1px solid #2E5602;
    border-radius: 4px;
    color: #fff;
    font-weight: normal;
    height: 30px;
    margin: 5px 0px 5px 5px;
    padding: 0 8px 0 5px;
    width: auto!important;
}
#mobile-menu {
    display: none;
}
button, input, select, textarea {
    margin: 0;
}
#mobile-menu .icon-bar {
    background-color: #fff;
    display: block;
    width: 14px;
    height: 2px;
    position: relative;
    top: 8px;
    left: 2px;
}
#mobile-menu .icon-bar+.icon-bar {
    margin-top: 2px;
}
#mobile-menu .toggle-text {
    font-size: 14px;
    padding-left: 22px;
    position: relative;
    top: -6px;
}
#mobile-menu .toggle-text {
    display: inline!important;
}
#header-search button, #mobile-menu .toggle-text {
    display: none;
}
#nav-mobile-search {
    display: none;
    float: right;
    margin-right: 12px;
    margin-top: 5px;
}
#nav-mobile-search-form input {
    display: block;
    padding: 6px 12px;
    line-height: 1.42857;
    color: #555;
    background-color: white;
    background-image: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#nav-mobile-search-form input {
    border-bottom-left-radius: 4px!important;
    border-top-left-radius: 4px!important;
    border: 1px solid #40505e!important;
    display: inline!important;
    font-size: 13px!important;
    height: 30px!important;
    padding-left: 10px!important;
    vertical-align: middle;
    width: 185px!important;
}
button, input, select, textarea {
    margin: 0;
}
#nav-mobile-search-form button {
    background: url("/images/header/search.png") no-repeat 10px 6px #40505e;
    padding-right: 30px;
    border: 1px solid #40505e;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    margin: -6px;
    position: relative;
    vertical-align: middle;
}
.cf, .clearfix {
    zoom: 1;
}
#main-navigation .nav-wrapper {
    margin: 0 auto;
    max-width: 1124px;
}
#global-nav-links {
    float: left;
}
.mobile #global-nav-links a.mobile-nav-bg {
    border-bottom-color: #33373a;
    border-top-color: #33373a;
}
#abe-header .visible-xs-block {
    display: none!important;
}
#sub-links a:first-child, #global-nav-links a {
    border-left: 1px solid #549E01;
}
#sub-links a, #global-nav-links a {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 17px;
}
#global-nav-links a {
    color: #fff;
    float: left;
}
#abe-header a {
    font-weight: bold;
    text-decoration: none;
}
a:link {
    color: #039;
}
a:visited {
    color: #74008c;
}
.visible-xs, .visible-sm, .visible-md, .visible-lg, .visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
    display: none!important;
}
.mobile-nav-bg {
    background-color: #40505e;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#586571),to(#40505e));
    background: -webkit-linear-gradient(top,#586571,#40505e);
    background: -moz-linear-gradient(center top,#586571,#40505e);
    background: -ms-linear-gradient(top,#586571,#40505e);
    background: -o-linear-gradient(top,#586571,#40505e);
    border-bottom-color: #33373a;
    border-top-color: #33373a;
}
a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

.mobile #global-nav-links a.mobile-nav-bg {
    border-bottom-color: #33373a;
    border-top-color: #33373a;
}
#abe-header .visible-xs-block {
    display: none!important;
}
#sub-links a:first-child, #global-nav-links a {
    border-left: 1px solid #549E01;
}
#sub-links a, #global-nav-links a {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 17px;
}
#global-nav-links a {
    color: #fff;
    float: left;
}
#abe-header a {
    font-weight: bold;
    text-decoration: none;
}
a:link {
    color: #039;
}
a:visited {
    color: #74008c;
}
.visible-xs, .visible-sm, .visible-md, .visible-lg, .visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
    display: none!important;
}
.mobile-nav-bg {
    background-color: #40505e;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#586571),to(#40505e));
    background: -webkit-linear-gradient(top,#586571,#40505e);
    background: -moz-linear-gradient(center top,#586571,#40505e);
    background: -ms-linear-gradient(top,#586571,#40505e);
    background: -o-linear-gradient(top,#586571,#40505e);
    border-bottom-color: #33373a;
    border-top-color: #33373a;
}
a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}
#sub-links a:first-child, #global-nav-links a {
    border-left: 1px solid #549E01;
}
#sub-links a, #global-nav-links a {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 17px;
}
#global-nav-links a {
    color: #fff;
    float: left;
}
#abe-header a {
    font-weight: bold;
    text-decoration: none;
}
a:link {
    color: #039;
}
a:visited {
    color: #74008c;
}
.hidden {
    display: none!important;
    visibility: hidden!important;
}
a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

#sub-links {
    float: right;
}
#sub-links {
    white-space: nowrap;
}
#sub-links a:first-child, #global-nav-links a {
    border-left: 1px solid #549E01;
}
#abe-header .hidden-xs {
    visibility: visible!important;
    display: inline!important;
}

#global-nav-links a:last-child, #sub-links a {
/*    border-right: 1px solid #549E01;*/
}
#sub-links a, #global-nav-links a {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 17px;
}
#sub-links a {
    color: #fff;
    float: left;
}
#abe-header a {
    font-weight: bold;
    text-decoration: none;
}
a:link {
    color: #039;
}
a:visited {
    color: #74008c;
}
a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

.cf:after, .clearfix:after {
    clear: both;
}
.cf:before, .cf:after, .clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.mobile #mobile-menu {
    background-position: -1px 4px;
    clear: left;
    cursor: pointer;
    display: block;
    float: left;
    width: 35px;
    margin-left: 10px;
}


#mobile-menu {
    display: none;
}
.mobile .nav-bar {
    clear: both;
    display: none;
}